.inline_topper {
            width: 33%;
            max-height: 300px;
            text-align: center;
            font-size: x-large;
            display: inline-block;
            vertical-align:top;
            }
.dataframe {
    height: 200px;
    display: inline-block;
}
.inline_bottom {
   width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.topnav {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    grid-area: top_nav;
    line-height: 40px;
}
.home_body{
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
    grid-template-areas: "top_nav" "content_section" "footer_section";
    grid-template-rows: 40px 100% 20px;
}
.topnav a {
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 1px 16px;
    font-size: x-large;
    text-decoration: none;
    height: 100%;
}
.topnav a.current {
    color: white;
    background-color: navy;
}
.bottomnav {
    display: inline-block;
}
.bottomnav a {
    color: black;
    text-align: center;
    vertical-align: center;
    padding: 14px 16px;
    font-size: 20px;
}

table td:nth-child(2) {
    text-align: center;
}

.calc {
    text-align: center;
    font-size: 18px;
    padding: 5px;

}
.leftbar {
    float: left;
    width: 20%;
    height: 100%;
    background-color: navy;
}
.rightbar {
    float: left;
    width: 20%;
    height: 100%;
    background-color: navy;
}
.main {
    float: left;
    width: 60%;
    height: 100%;
    background-color: #efefef;
}
.site-content_section {
    grid-area: content_section;
}
.footer{
    grid-area: footer_section;
    background-color: #efefef;
}
.box_score {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.team_logos {
    max-width: 25%;
}

body {
    font-family: Helvetica, sans-serif;
}