<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA Covid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
</head>
<body class="home_body">
<div class="topnav">
    <a href="/home">Home</a>
    <a href="/insights">Insights</a>
    <a href="/game_plan">Game Planning</a>
</div>
<div class="site-content_section">
    <div class="leftbar" style="text-align: center">
        <img src="{{ url_for('static', filename= 'images/nbaxoci.png') }}" style="margin-top: 10px">
        <p style="color:white">Built on Oracle Cloud</p>
        <h1 style="padding-top: 60px;color:white">Methodology</h1>
        <p style="color:white;margin-left: 10px; margin-right: 10px">We leveraged state-of-the-art machine learning
        to accurately predict NBA games using our proprietary Health Score. This Health Score allows for maximization of
        correct win probabilities and generating player impact.</p>
        <h4 style="padding-top: 10px;color: white">Insights</h4>
        <p style="color:white;margin-right: 10px; margin-left: 10px">Using player impact we show the contribution of individual players
        to their team's overall performance. These contributions are broken down into single games, a team's season, and league-wide.
        On the league level we focus directly on Covid.<br><br><em>Impact is a team's change in win probability based on how healthy a player was
        yesterday vs today.</em> </p>
        <h4 style="padding-top: 10px;color: white">Game Planning</h4>
        <p style="color: white;margin-right: 10px;margin-left: 10px">We allows users to see how a team's chance of to win
        changes based on which players are active for that game.</p>
    </div>
    <div class="main" style="text-align: center">
        <img src="{{ url_for('static', filename= 'images/small_logo.png') }}">
        <p>The NBA, like many corporations and businesses, has been largely affected by COVID-19. However,
        unlike many standard businesses that can track the effect of the pandemic on a spreadsheet or statistic, we
        have no way to tangibly mark the effects of COVID-19 across the NBA.</p>
        <img src="{{ url_for('static', filename= 'images/player_covid.png') }}">
        <div id='chart'></div>
    </div>
    <div class="rightbar" style="text-align: center">
        <p style="color:white">Yesterday's Scores</p>
        {% block content %}
        {{yday_games | safe}}
        {% endblock %}
    </div>
</div>
<div class="footer">Team Members: Chhun Hong, Ethan Hardy, Chase Cotton, Suraj Pai, Koushik Chennakesavan, Ethan Blumenfeld</div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
</html>